<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Spring Boot + JPA + Datatables</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/js/datatable.js"></script>
</head>

<body>
<h1>Stock Analysis</h1>
<table id="stockTable" class="display">

    <!-- Header Table -->
    <thead>
    <tr>
        <th>Ticker</th>
        <th>Company Name</th>
        <th>PE</th>
        <th>PEG</th>
        <th>Yield</th>
        <th>EPS</th>
        <th>ROE</th>
        <th>Market Cap</th>
        <th>Target Price(12m)</th>
        <th>EBITDA</th>
        <th>Short Ratio</th>
        <th>Book Value/share</th>
        <th>Div Growth 5y</th>
        <th>Div Growth 10y</th>
        <th>Payout Ratio</th>
        <th>EPS</th>
        <th>EPS Growth 5y</th>
        <th>EPS Growth 10y</th>
        <th>FCF</th>
        <th>FCF Growth 5y</th>
        <th>FCF Growth 10y</th>
        <th>ROI</th>
        <th>ROI Growth 5y</th>
        <th>ROI Growth 10y</th>
        <th>Score</th>
    </tr>
    </thead>
    <!-- Footer Table -->
    <tfoot>
    <tr>
        <th>Ticker</th>
        <th>Company Name</th>
        <th>PE</th>
        <th>PEG</th>
        <th>Yield</th>
        <th>EPS</th>
        <th>ROE</th>
        <th>Market Cap</th>
        <th>Target Price(12m)</th>
        <th>EBITDA</th>
        <th>Short Ratio</th>
        <th>Book Value/share</th>
        <th>Div Growth 5y</th>
        <th>Div Growth 10y</th>
        <th>Payout Ratio</th>
        <th>EPS</th>
        <th>EPS Growth 5y</th>
        <th>EPS Growth 10y</th>
        <th>FCF</th>
        <th>FCF Growth 5y</th>
        <th>FCF Growth 10y</th>
        <th>ROI</th>
        <th>ROI Growth 5y</th>
        <th>ROI Growth 10y</th>
        <th>Score</th>
    </tr>
    </tfoot>
</table>


<table id="stockScoreTable" class="display">

    <!-- Header Table -->
    <thead>
    <tr>
        <th>Ticker</th>
        <th>Company Name</th>
        <th>PE</th>
        <th>PEG</th>
        <th>Yield</th>
        <th>EPS</th>
        <th>ROE</th>
        <th>Market Cap</th>
        <th>Target Price(12m)</th>
        <th>EBITDA</th>
        <th>Short Ratio</th>
        <th>Book Value/share</th>
        <th>Div Growth 5y</th>
        <th>Div Growth 10y</th>
        <th>Payout Ratio</th>
        <th>EPS</th>
        <th>EPS Growth 5y</th>
        <th>EPS Growth 10y</th>
        <th>FCF</th>
        <th>FCF Growth 5y</th>
        <th>FCF Growth 10y</th>
        <th>ROI</th>
        <th>ROI Growth 5y</th>
        <th>ROI Growth 10y</th>
        <th>Score</th>
    </tr>
    </thead>
    <!-- Footer Table -->
    <tfoot>
    <tr>
        <th>Ticker</th>
        <th>Company Name</th>
        <th>PE</th>
        <th>PEG</th>
        <th>Yield</th>
        <th>EPS</th>
        <th>ROE</th>
        <th>Market Cap</th>
        <th>Target Price(12m)</th>
        <th>EBITDA</th>
        <th>Short Ratio</th>
        <th>Book Value/share</th>
        <th>Div Growth 5y</th>
        <th>Div Growth 10y</th>
        <th>Payout Ratio</th>
        <th>EPS</th>
        <th>EPS Growth 5y</th>
        <th>EPS Growth 10y</th>
        <th>FCF</th>
        <th>FCF Growth 5y</th>
        <th>FCF Growth 10y</th>
        <th>ROI</th>
        <th>ROI Growth 5y</th>
        <th>ROI Growth 10y</th>
        <th>Score</th>
    </tr>
    </tfoot>
</table>

</body>
</html>